body
{
    margin: 0;
    padding: 0;
    background: rgb(75, 26, 121);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    

}
.navber {
  
  height: 75px;
  margin: auto;
  
}

.icon {

  float: left;

}

.logo {
  
  color: yellow;
  font-size: 50px;
  font-family: Arial;
  padding-left: 200px;
  float: left;
  padding-top: 30px;
  
}
.kaver
{
  width: 50px;
}


.coffee {
  width: 20px;
  float: left;
  height: 70px;
  float: right;
}
ul {
  float: left;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 50% 30%;
 
  
}
ul li {
  list-style: none;
  font-size: 18px;
  margin: 50px;
  
  
  
}
ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  font-size: 25px;
  
  
}
ul li a:hover {
  color: #b3ff00;
   
}
.cfe{
  width: 2px;
  padding: 70px;
  color: rgb(255, 255, 253);
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 10px;

  
}
.cfe span{
  color:yellow
}
.pp{
  margin-top:-5%;
  
}

.bottom-text
{
  
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: sans-serif;
  margin-left: 150px;
  float: left;
}
.bottom-text span{
  color:yellow;
  font-size: 30px;
  font-family: 'Gill Sans';
}
.ft
{
  width: 60px;
  margin-bottom: -10%;
  background-color: #b3ff00;
  border-radius: 8px;
}

